:root {
    --white: #dfdfdf;
    --backgrond--body: #dfdfdf;
    --label--login: #333;
    --placeholder-color: #222;
    --section--color: #555;
    --submit--label: #fff;
    --submit--button--hover: #000;
}